.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease;
}

.feynman__link:hover {
  opacity: 0.4;
}
